@font-face {
    font-family: IBM;
    src: url(../assets/font-family/static/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM;
    src: url(../assets/font-family/static/IBMPlexSans-Bold.ttf);
    font-weight: bold;
}
