@font-face {
    font-family: IBM;
    src: url(../assets/font-family/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM;
    src: url(../assets/font-family/IBMPlexSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: IBM;
    src: url(../assets/font-family/IBMPlexSans-Italic.ttf);
    font-style: italic;
}