* {
    font-family: IBM;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f2df;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

h1,
h2,
p {
    margin: 10px;
}

/* Only style the navbar's UL */
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #232946;
}

.topnav ul li {
    float: right;
}

ul li a {
    display: block;
    color: #f7f2df;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
}

.content {
    padding: 80px;
    color: #232946;
}

#part2,
#part7 {
    background-color: #232946;
    color: #f7f2df;
}

#part4,
#part5,
#part6 {
    padding-top: 10px;
    background-color: #f7f2df;
    color: #232946;
}

#part5 {
    padding-bottom: 10px;
}

div.content#my-story-part1 {
    padding: 80px;
    color: #232946;
    text-align: justify;
}

div.content#my-story-part1 p,
div.content#my-story-part2 p {
    margin-bottom: 20px;
    font-size: 18px;
}

div.content#my-story-part2 {
    padding: 80px;
    background-color: #232946;
    color: #f7f2df;
    text-align: justify;
}

div.content#my-story-part2 ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
    display: block;
}

div.content#my-story-part2 ul li {
    text-align: left;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.right li {
    margin-bottom: 5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div.content#my-story-part3 {
    padding: 80px;
    background-color: #b8c1ec;
    color: #232946;
    text-align: center;
}

div.content#my-story-part4 {
    padding: 80px;
    background-color: #f7f2df;
    color: #232946;
    text-align: center;
}

/* --- EMBED GRID LAYOUT --- */
.music-embeds,
.video-embeds {
    display: grid;
    grid-template-columns: 1fr;
    /* default: 1 column for mobile */
    gap: 20px;
}

/* Desktop: 3 columns */
@media (min-width: 900px) {

    .music-embeds,
    .video-embeds {
        grid-template-columns: repeat(3, 1fr);
    }
}

.music-embeds .embed-item,
.video-embeds .embed-item {
  width: 100%;
}

/* Make the iframe fill its grid cell */
.music-embeds iframe {
    width: 100%;
    height: 100%;
    min-height: 360px;
}

.video-embeds iframe {
    width: 100%;
    height: 100%;
    min-height: 315px;
}

.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-buttons {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#black-button {
    background-color: #232946;
    color: #f7f2df;
}

#white-button {
    border: #232946 2px solid;
    background-color: #f7f2df;
    color: #232946;
}

#pink-button {
    background-color: #eebbcc;
    color: #232946;
}

/* NAVBAR LAYOUT */
.topnav {
    width: 100%;
    background-color: #232946;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.topnav .logo img {
    height: 40px;
    margin: 10px 0;
}

/* Desktop menu */
#nav-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-menu li a {
    display: block;
    padding: 16px 24px;
    text-decoration: none;
    color: #f7f2df;
}

/* Same hover style you already had */
#nav-menu li a:hover {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #080d20;
}

/* Active item */
#nav-menu li a.active {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f7f2df;
    color: #232946;
    font-weight: bold;
}

/* HAMBURGER (hidden on desktop) */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #f7f2df;
    font-size: 28px;
    cursor: pointer;
}

/* --------------------------------------------
   MOBILE VIEW
-------------------------------------------- */
@media screen and (max-width: 768px) {

    /* Show hamburger */
    .nav-toggle {
        display: block;
    }

    /* Hide menu initially */
    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #232946;
    }

    /* Make links full-width */
    #nav-menu li a {
        padding: 16px;
        border-top: 1px solid #f7f2df22;
    }

    /* When active (menu opened) */
    #nav-menu.show {
        display: flex;
    }
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

/* Mobile */
@media (max-width: 768px) {
    nav ul {
        position: absolute;
        top: 70px;
        /* below your header */
        right: 2rem;
        flex-direction: column;
        background: #232946;
        padding: 1rem;
        border-radius: 10px;
        width: 160px;
        display: none;
    }

    nav ul.open {
        display: flex;
    }
}

.quick-access-portal {
    margin: 10px;
}

.quick-access-portal a {
    color: #232946;
    background-color: #eebbcc;
    text-decoration: none;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

